body {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

#pE-header, #pE-footer-inner {
    margin: 0;
    background-color: #fff;
    font:13px/1.231 Arial, Helvetica, sans-serif;
    color: #000;
}  
/* force sane values */
#pE-header, #pE-footer-inner {
    text-align: left !important;

    font-size:13px !important;
    font-size:13px/1.231 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    box-sizing: content-box;
}

#pE-header {
    height: 75px;
}
#pE-header a {
  text-decoration: none;
  cursor: pointer;
}
#pE-header .pE-hide {
  display: none;
}
#pE-header .pE-menu-is-open {
  display: block;
}


/* en haut a gauche */
#pE-header .pE-logo {
  width: 42px;
  height: 34px;
  display: inline-block;
  background-image: url("logo.png");
  background-size: 42px;
}
#pE-header .pE-title {
  display: inline-block;
  padding-left: 0.6em;
  padding-top: 10px;
  border-bottom: 2px dotted #4072AE;
}
#pE-header .pE-title-ent, #pE-header .pE-title-app a {
  font-size: 21.45px !important;
  font-family: Arial, sans-serif !important;
  font-weight: initial !important;
}
#pE-header .pE-title-ent {
  color: #C89108 !important;
}
#pE-header .pE-title-app, #pE-header .pE-title-app a {
  color: #00326E !important;
}


/* en haut a droite */

#pE-buttons,
#pE-photo,
#pE-openMoreButtons,
#pE-moreButtons,
#pE-account {
  position: absolute;
  top: 0;
  font-size: 10.4px !important;
}

#pE-photo {
  top: 5px;
  right: 5px;
}
#pE-openMoreButtons {
  right: 70px;
}
#pE-buttons {
  right: 116px;
}

#pE-header .pE-button {
  width: 52px;
  margin-top: 6px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
#pE-header .pE-button:hover {
    filter: brightness(1.25);
    -webkit-filter: brightness(1.25);
}
#pE-header .pE-button img {
  width: 40px;
  height: 40px;
  margin: 2px 0 3.5px 0;
  vertical-align: top !important;
}
#pE-header .pE-button, #pE-header .pE-button a {
    color: #777 !important;
    line-height: 10.4px !important;
    font-size: 10.4px !important;
    font-weight: initial !important;
    border: 0 !important;
}


#pE-photo {
  margin-bottom: 4px;
  margin-right: 8px;
  width: 54px; height: 54px;
  cursor: pointer;
}
#pE-photo div {
  margin: 2px 6px;
  width: 42px; height: 42px;
  border-radius: 21px; -webkit-border-radius: 21px; -moz-border-radius: 21px;
  background-size: 42px;
  background-position: 0 -8px;
  display: block;
}
#pE-header .pE-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #C89108;
  margin-left: 39px;
}


/* moreButtons popup menu */

#pE-buttons {   
  width: 188px;
  height: 70px;
  z-index: 1;
  background: #fff;
  overflow: hidden;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  text-align: center;
}
#pE-buttons.pE-menu-is-open {
  height: auto;
  z-index: 100006;
  background-clip: padding-box;
  border-color: #C89108;
  -moz-border-radius : 0 0 5px 5px;
  border-radius : 0 0 5px 5px;
  -webkit-border-bottom-left-radius : 5px;
  -webkit-border-bottom-right-radius : 5px;
}

#pE-openMoreButtons.pE-menu-is-open span {
    display: none;
}
#pE-openMoreButtons .if-open {
    display: none;
}
#pE-openMoreButtons.pE-menu-is-open .if-open {
    display: inline;
}
#pE-openMoreButtons.pE-menu-is-open .if-closed {
    display: none;
}

#pE-buttons .pE-button {
    margin: 6px 3px 2px;
}
#pE-buttons .pE-goto-accueil {
  clear: both;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background: #f0f0f0;
  color: #777;
}


/* account menu */
#pE-photo.pE-menu-is-open {
    z-index: 100007;
}

#pE-account {
  display: none;
    top: 0px;
    right: 5px;
    padding-top: 5px;

    z-index: 100006;
    border: 2px solid #C89108;
    border-top: 0px;
    -moz-border-radius : 5px 0 5px 5px;
    border-radius : 0 0 5px 5px;
    -webkit-border-bottom-left-radius : 5px;
    -webkit-border-bottom-right-radius : 5px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius : 0;
    font-size: 13px !important;
}

#pE-account ul {
    margin: 0;
    padding: 0;
}
#pE-account a {
  color: #00326E !important;
  font-weight: initial !important;
  font-size: 13px !important;
}
#pE-account li {
    list-style: none;
    padding: 0.5em;
    background: #fff;
}
#pE-account li.pE-above-buttons {
    height: 70px;
    padding: 0;
    opacity: 0.85;
}

li.pE-accountSeparator,
li.pE-accountAnchor {
    line-height: 2em;
}

li.pE-accountSeparator {
    border-top: 1px dotted #999999; 
    padding-top: 1em;
}
.pE-accountLogout {
    background-color: #C89108 !important;
    padding: 0 !important;
    min-width: 173px;
}
.pE-accountLogout a {
    display: block;
    padding: 0.5em 0.5em 0.35em 0.5em;
    line-height: 1.7em !important;
}
#pE-account .pE-accountLogout a {
    color: #fff !important;
    text-transform: uppercase;
}

.pE-accountLogout-icon {
  width: 3em;
  height: 1.5em;
  float: right;
  background-image: url("logout.svg");
  background-size: 2.5em;
  background-repeat: no-repeat;
  background-position: center;
}



/* footer */
#pE-footer-inner {
    background-color: #00326E;
    clear: both;
}
#pE-footer-inner .pE-footer-links {
    text-align: center;
    color: #666d76;
    padding-top: 0.8em;
    padding-bottom: 1em;
}
#pE-footer-inner .pE-footer-links a {
    color: #FFF !important;
    text-decoration: none;
    font-size: 13px !important;
    font-weight: initial;
    margin: 0 0.3em;
}
#pE-footer-inner .pE-footer-links a:hover {
    color: #FFF !important;
    text-decoration: underline;
}
#pE-footer-inner .pE-footer-accueil {
  height: 1.2em;
  vertical-align: text-bottom;
}

#pE-footer-inner .pE-portalLogo {
    padding-top: 1em;
    text-align: center;
}
.pE-portalLogo a {
    width: 200px;
    height: 64px;
}
.pE-portalLogo a {
    display: inline-block;
    background-image: url("logo2.png");
    background-size: cover;
}

/* sticky footer */
.pE-sticky-footer {
    position: relative;
    min-height: 100%;
}
.pE-sticky-footer body {
    margin-bottom: 130px;
    position: initial;
}
.pE-sticky-footer #pE-footer-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
}

.pE-title-app-short {
    display: none;
}

@media screen and (max-width: 700px) {
    #pE-buttons {
        display: none;
    }
    .pE-title-ent, .pE-title-app-long {
        display: none;
    }
    .pE-title-app-short {
        display: inline;
    }

}

@media screen and (max-width: 450px) {
     #pE-buttons {      
        left: 0px;
        width: auto;
        text-align: center;
     }
}