<div class='portalPageBar'>

    <div class='portalPageBarLinks'>

        <div id='portalPageBarSearch'><span>
            <form action='https://search-ent.univ.fr/' name='portalPageBarSearch' target='_blank'>
                <input class='search' type='submit' value=''>
                <input name='q' class='text' placeholder='Rechercher'>
            </form>
        </span></div>

        <span class='portalPageBarLogout'>
            <a title='Se déconnecter' href='${logout_url}'>
                <span>Déconnexion</span>
            </a>
        </span>
    </div>

</div>

<div class='bandeau_ENT_portalLogo'>
    
    <a href='http://univ.fr/'></a>
</div>
