build
target
TAGS
tmp
deploy
.project
.classpath
.settings
logs
src/main/webapp/lib/*.js
src/main/webapp/WEB-INF/config.json
src/main/webapp/WEB-INF/config-apps.json
src/main/webapp/WEB-INF/config-auth.json
src/main/webapp/WEB-INF/config-shibboleth.json
