<p style="clear: both"></p>

<div id="pE-footer-inner">

<div id="pE-footer-inner-app">
  ${appHelp}
</div>

<div id="pE-footer-inner-ent">

<div class="pE-portalLogo">
  <a title="Universite Paris 1 Pantheon-Sorbonne: Accueil" href="http://www.univ-paris1.fr/"></a>
</div>

<div class="pE-footer-links">
<a href="https://ent.univ-paris1.fr/accueil">
  <img src='${themeUrl}/house.svg' class="pE-footer-accueil" alt="Accueil">
</a>
|
<a href="https://esup.univ-paris1.fr/mentions">Mentions légales</a>
|
<a href="https://esup.univ-paris1.fr/contacts">Contacts</a>
|
<a href="${helpUrl}">Aide</a>
</div>

</div>

</div>
