    <div class='portalPageBarLinks'>

      <div id='portalPageBarSearch'><span>
        <form action='https://search-ent.univ-paris1.fr/' name='portalPageBarSearch' target='_blank'>
          <input class='search' type='submit' value=''>
          <input name='q' class='text' placeholder='Rechercher'>
       </form>
      </span></div>

      <div id='portalPageBarAccount'>
	<a href='#'>
          <span>%s</span>
        </a>
      </div>

      <span id='bandeau_ENT_portalPageBarToggleMenu'>
        <span>ENT</span>
        <a>
          <span>Toggle menu</span>
        </a>
      </span> 

      <span class='portalPageBarLogout'>
	<a title='Se déconnecter' href='<%%logout_url%%>'>
	  <span>Déconnexion</span>
	</a>
      </span>
    </div>

    <div id='portalPageBarAccountInner'>
	<ul>
	  <li class='portalPageBarAccountDescr'>%s</li>
	  <li class='portalPageBarAccountAnchor'>
	    <a title='Interface de gestion de compte de l&#39;université Paris 1 Panthéon-Sorbonne.' href='https://ent.univ-paris1.fr/compte'>
	      <span>Mon compte Paris1</span>
	    </a>
	  </li>

	  <li class='portalPageBarAccountAppLinks'></li>
	  <li class='portalPageBarAccountSeparator portalPageBarAccountLogout'>
	    <a title='Se déconnecter' href='<%%logout_url%%>'>
	      <span>Déconnexion</span>
	    </a>
	  </li>
	</ul>
    </div>
