.bandeau_ENT_Menu {
  /* restore */
   column-width: auto; -moz-column-width: auto; -webkit-column-width: auto;
}

.bandeau_ENT_Menu > li:hover,
.bandeau_ENT_Menu > li.activeTab {
   background: white;
}

.bandeau_ENT_Menu li ul {
  margin-left: -11px;
  border-top: 1px dotted #999999; 
}
.bandeau_ENT_Menu li ul li {
  border-top: 1px dotted #999999 !important;
}

.bandeau_ENT_Menu li ul {
   width:200px; position:absolute; z-index:100004; display:none;
   margin-top: 7px;
}

.bandeau_ENT_Menu > li {
  float: left;
  height: 23px;
}
