
#bandeau_ENT_Inner, #bandeau_ENT_Footer {
  margin: 0;
  background-color: #F1F1F1;
  font:13px/1.231 Verdana, Arial, Helvetica, sans-serif;
  color: #fff;
}  
/* force sane values */
#bandeau_ENT_Inner, #bandeau_ENT_Inner span {
  text-align: left !important;

  font-size:13px !important;
  font-size:13px/1.231 !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  box-sizing: content-box;
}

.bandeau_ENT_Menu li {
  margin: 0;
  box-sizing: content-box;
}
#bandeau_ENT_Inner a {
  color: #fff !important;
}

#bandeau_ENT_Inner img {
  border: 0;
}

/* Portal Page Bar */
.portalPageBarLinks {position:absolute; right: 0; top: 0; z-index: 3; padding:0;  }
/* for IE7 IE8, force the width: force the width and make it auto for browsers handling :not selector (all browsers except IE lt 9) */ 
.portalPageBarLinks { width: 15em; padding-top: 0; }
.portalPageBarLinks:not([dummy]) { width: auto; }


/*********************************************************************************/
#portalPageBarSearch {
    display: block;
    float: left;
    height: 30px;
}

#portalPageBarSearch span {
    display: inline-block;
    padding: 1px 6px;
    line-height: 29px;
    font-size: 13px; /* enforce it */
}

#portalPageBarSearch span {
    padding-top: 6px;
}
#portalPageBarSearch input {
    font-size: 13px; /* enforce it */
    border: #213885 solid 1px;
    outline: 0;
    margin: 0;
}
#portalPageBarSearch input.text {
    width: 10em;
    border-right: 0;
    text-indent: 2px;
    height: 16px;
    padding: 1px 0 !important;
}
#portalPageBarSearch input.text:focus {
    width: 10em;
}
#portalPageBarSearch input.text::-ms-clear {
  display: none;
}
#portalPageBarSearch input.search {
    background-color: #fff;
    background-image: url(Loupe.svg);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 0 2px;
    height: 20px;
    width: 17px;
    cursor: pointer;
    float: right;
    border-left: 0;
    padding: 0 !important;
}

.portalPageBarLogout {
    display: inline-block;
    margin: 5px 5px 0 0;
}

/*********************************************************************************/
.bandeau_ENT_portalLogo {
 padding: 0;
 height: 34px;
 background-color: black;
 width: 100%;
 border-bottom: 1px solid #20528e;
}

.bandeau_ENT_portalLogo a {
  display: inline-block;
  width: 77px;
  height: 34px;
  background-image: url(logo.png);
  background-size: cover;
}


/*********************************************************************************/
body {
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
}

.bandeau_ENT_Menu {
 margin: 0;
 padding-left: 0;
 display: block;

 column-width: 16em; -moz-column-width: 16em; -webkit-column-width: 16em;
}

.bandeau_ENT_Menu a, .bandeau_ENT_Menu span {
 padding:0.3em 0.2em 0.9em 0.2em;
 color: black;
 text-decoration:none;
}

.bandeau_ENT_Menu > li {
 z-index: 2;
 padding: 5px 11px 0px 11px;

  break-inside: avoid; page-break-inside: avoid; -webkit-column-break-inside: avoid;
}

*:first-child+html .bandeau_ENT_Menu > li {
 padding:0;
} /* hack needed for IE7 */

.bandeau_ENT_Menu > li:hover { 
 z-index: 100003;
 } /* above activeTab in case of multi-line */

/* subrow */
.bandeau_ENT_Menu li ul {
 padding:0.5em 0;
}
.bandeau_ENT_Menu li:hover ul { display: block; }

.bandeau_ENT_Menu li ul li {
 list-style-type:none;
 display:inline;
}
.bandeau_ENT_Menu li ul a {
   padding:0em 1em;
   text-decoration:none; 
   color:#acc9e6 !important;
   text-shadow:1px 1px 1px rgba(0,0,0,.5);
   z-index: 100005;
}
.bandeau_ENT_Menu li ul a:hover {
 color:#eee !important;
}

/* Flyout Navigation */
.bandeau_ENT_Menu li ul {
   padding:0;
   margin: 0; /* needed on IE8, no drawbacks on others */
   background:transparent; 
}

.bandeau_ENT_Menu li ul li {
 list-style:none;
}
.bandeau_ENT_Menu li ul li {
  display:list-item; position:static; padding:0;
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a {
  display:block;
}

.bandeau_ENT_Menu li ul {
  padding:2px;
  background-color: #fff;
  border: 1px solid #999999;
}
.bandeau_ENT_Menu li ul li:first-child { 
  border-top: none !important; 
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a {
 color:#213885 !important; 
 font-weight:normal; 
 font-size:13px !important;
 text-decoration:none !important;
 text-align:left;
 display:block;
 border: 0px solid #555 !important;
 text-shadow:none;
 padding: 6px;
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a:hover {
 color:#000000 !important; 
}

/* when impersonated */
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li.bandeau_ENT_Menu_Entry__Forbidden a,
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li.bandeau_ENT_Menu_Entry__Forbidden a:hover {
    color: #aaa !important;
    pointer-events: none;
    cursor: default;
}

.bandeau_ENT_Menu > li {
    display: block;
    position: relative;
}

#bandeau_ENT_Footer {
    clear: both;
    text-align: center;
    font-size: 11px;
    padding: 1em 0;
}
#bandeau_ENT_Footer a {
    margin: 0 1em;
    text-decoration: underline !important;
}
#bandeau_ENT_Footer, #bandeau_ENT_Footer a {
    color: #999 !important;
}

#bandeau_ENT_Inner .bandeau_ENT_Help a {
    color: #263F82 !important;
}

.bandeau_ENT_Help a {
    position: relative;
    float: right;
    z-index: 100006;
    margin-right: 1em;
    margin-top: -3em;

    margin-left: 1.5em;
    padding-left: 18px;
}

#bandeau_ENT_Inner .bandeau_ENT_Titlebar > a {
    color: #263F82 !important;
    text-decoration: none;
}
.bandeau_ENT_Titlebar {
    background: white;
    padding: 13px 0 18px 13px !important;
    font-size: 26px;
}
.bandeau_ENT_Titlebar > a {
    font-size: 26px;
}
@media screen and (max-width: 450px) {
  #portalPageBarSearch input.text {
     width: 4em;
  }

  .bandeau_ENT_portalLogo {
      text-align: left !important;
  }

}

@media print {
  #bandeau_ENT_Inner { display: none; }
}
