
#bandeau_ENT_Inner, #bandeau_ENT_Footer {
  margin: 0;
  background-color: #F1F1F1;
  font:13px/1.231 Verdana, Arial, Helvetica, sans-serif;
  color: #fff;
}  
/* force sane values */
#bandeau_ENT_Inner, #bandeau_ENT_Inner span {
  text-align: left !important;

  font-size:13px !important;
  font-size:13px/1.231 !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}

.bandeau_ENT_Menu li {
  margin: 0;
}
#bandeau_ENT_Inner a {
  color: #fff !important;
}

#bandeau_ENT_Inner img {
  border: 0;
}

/* Portal Page Bar */
.portalPageBarLinks {position:absolute; right: 0; top: 0; z-index: 100003; padding:0;  }
/* for IE7 IE8, force the width: force the width and make it auto for browsers handling :not selector (all browsers except IE lt 9) */ 
.portalPageBarLinks { width: 15em; padding-top: 0; }
.portalPageBarLinks:not([dummy]) { width: auto; }


/*********************************************************************************/
#portalPageBarAccount > a > span {
    background: url(https://esup.univ-paris1.fr/media/skins/universality/uportal3/images/arrow_down2.png) no-repeat center right;
    padding-right: 1em;
}

#portalPageBarSearch,
#portalPageBarAccount {
    display: block;
    float: left;
    height: 30px;
}

#portalPageBarSearch span,
#portalPageBarAccount > a {
    display: inline-block;
    padding: 1px 6px;
    line-height: 29px;
    font-size: 13px; /* enforce it */
}

#portalPageBarSearch span {
    padding-top: 6px;
}
#portalPageBarSearch input {
    font-size: 13px; /* enforce it */
    border: #213885 solid 1px;
    outline: 0;
    margin: 0;
}
#portalPageBarSearch input.text {
    width: 10em;
    border-right: 0;
    text-indent: 2px;
    height: 16px;
    padding: 1px 0 !important;
}
#portalPageBarSearch input.text:focus {
    width: 10em;
}
#portalPageBarSearch input.text::-ms-clear {
  display: none;
}
#portalPageBarSearch input.search {
    background-color: #fff;
    background-image: url(Loupe.svg);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 0 2px;
    height: 20px;
    width: 17px;
    cursor: pointer;
    float: right;
    border-left: 0;
    padding: 0 !important;
}

#portalPageBarAccount > a,
#portalPageBarAccountInner a {
    text-decoration: none;
}

#portalPageBarAccount > a:hover, #portalPageBarAccount.open a {
    background-color: #10427e;
}

#portalPageBarAccount > a:focus {
    border: 1px solid #20528e;
    padding: 0 5px;
    outline: none;
}

#portalPageBarAccount.open a {
    border-top: 1px solid #20528e;
    border-right: 1px solid #20528e;
    border-left: 1px solid #20528e;
    padding: 0 5px 1px;
}

#portalPageBarAccountInner {
    display: none;
    position: absolute;
    background-color: #10427e;
    z-index: 100006;
    top: 30px;
    right: 75px;
    border: 1px solid #20528e;
    -moz-border-radius : 5px 0 5px 5px;
    border-radius : 5px 0 5px 5px;
    -webkit-border-bottom-left-radius : 5px;
    -webkit-border-bottom-right-radius : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius : 0;
    white-space: nowrap;
}
#portalPageBarAccountInner.open {
    display: block;
}

#portalPageBarAccountInner a:hover {
    color: #ddd !important;
}

#portalPageBarAccountInner ul {
    margin: 1em;
    padding: 0;
}
#portalPageBarAccountInner li {
    list-style: none;
}

.portalPageBarLinks a {
    padding: 0 0.5em;
}

li.portalPageBarAccountSeparator,
li.portalPageBarAccountAnchor {
    margin-top: 0.5em;
    line-height: 2em;
}

li.portalPageBarAccountSeparator {
    border-top: 1px dotted #999999; 
    padding-top: 1em;
    margin-top: 1em;
}


/*********************************************************************************/
#portalPageBarLogin a {
    line-height: 2.5em;
    margin: 6px;
}

.portalPageBarLogout {
    display: block;
    float: right;
    height: 30px;
    width: 33px;
}

/* replace Deconnexion with an icon */
.portalPageBarLogout a {
    background: url(logout2.png) no-repeat scroll transparent;
    background-size: cover;
    display: inline-block;
    width: 27px;
    height: 21px;
    padding: 0;
    margin: 4px 6px 5px 0;
}

.portalPageBarLogout:hover {
    background-color: #10427e;
}
.portalPageBarLogout span {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu {
    height: 66px;
    width: 41px;
    background: #ccc;
    display: block;
    float: right;
    position: relative;
}
#bandeau_ENT_portalPageBarToggleMenu > span {
  display: block; font-size: 16px !important; color: #263F82; padding: 5px;
  background: #cccccc;
  height: 46px;
  /*text-shadow: 0 0 1px;*/
}
.menuClosed #bandeau_ENT_portalPageBarToggleMenu {
    background: transparent;
    border-left: 0;
}
.menuClosed #bandeau_ENT_portalPageBarToggleMenu > span {
  border-left: 1px solid #c7bdb0;
}
#bandeau_ENT_portalPageBarToggleMenu:hover,
#bandeau_ENT_portalPageBarToggleMenu:hover > span {
    background: #dddddd;
    cursor: pointer;
}

.menuClosed #bandeau_ENT_portalPageBarToggleMenu > div {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu a span {
    display: none;
}

#bandeau_ENT_portalPageBarToggleMenu a {
    background: url(chevron-close.png) no-repeat center;
    display: inline-block;
    width: 20px;
    height: 19px;
    padding: 0;
    margin-top: -8px;
    margin-left: 12px;
}

.menuClosed #bandeau_ENT_portalPageBarToggleMenu a {
    background-image: url(chevron-open.png);
}


/*********************************************************************************/
.bandeau_ENT_portalLogo {
 padding: 0;
 height: 56px;
 background-color: #00326e;
 width: 100%;
 text-align: center !important;
}
.menuClosed .bandeau_ENT_portalLogo { 
 height: 56px;
 border-bottom: 1px solid #20528e;
}

.bandeau_ENT_portalLogo a {
  display: inline-block;
  width: 148px;
  height: 56px;
  background-image: url(logo2.png);
  background-size: cover;
}


/*********************************************************************************/
body {
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
}

.bandeau_ENT_Menu {
 margin: 0;
 padding-left: 0;
 display: block;
}

.bandeau_ENT_Menu a, .bandeau_ENT_Menu span {
 padding:0.3em 0.2em 0.9em 0.2em;
 color:#555;
 text-decoration:none;
}

.menuClosed .bandeau_ENT_Menu_ > ul, .menuClosed .bandeau_ENT_Menu_ > p {
 display: none;
}

.bandeau_ENT_Menu > li {
 z-index: 100002;
 float: left;
 padding: 5px 11px 0px 11px;
}

@media screen and (max-width: 450px) {
  .bandeau_ENT_Menu > li {
    float: none;
  }
}

*:first-child+html .bandeau_ENT_Menu > li {
 padding:0;
} /* hack needed for IE7 */

.bandeau_ENT_Menu > li.activeTab,
.bandeau_ENT_Menu > li:hover {
 background:#f1f1f1;
 color:#fff;
}
.bandeau_ENT_Menu > li:hover span,
.bandeau_ENT_Menu > li.activeTab span,
.bandeau_ENT_Menu > li:hover a,
.bandeau_ENT_Menu > li.activeTab a {
 color:#213885 !important;
}
.bandeau_ENT_Menu > li:hover { 
 z-index: 100003;
 } /* above activeTab in case of multi-line */

/* subrow */
.bandeau_ENT_Menu li ul {
 padding:0.5em 0;
}
.bandeau_ENT_Menu li:hover ul { display: block; }

.bandeau_ENT_Menu li ul li {
 list-style-type:none;
 display:inline;
}
.bandeau_ENT_Menu li ul a {
   padding:0em 1em;
   text-decoration:none; 
   color:#acc9e6 !important;
   text-shadow:1px 1px 1px rgba(0,0,0,.5);
   z-index: 100005;
}
.bandeau_ENT_Menu li ul a:hover {
 color:#eee !important;
}

/* Flyout Navigation */
.bandeau_ENT_Menu li ul {
   padding:0;
   margin: 0; /* needed on IE8, no drawbacks on others */
   background:transparent; 
}

.bandeau_ENT_Menu li ul li {
 list-style:none;
}
.bandeau_ENT_Menu li ul li {
  display:list-item; position:static; padding:0;
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a {
  display:block;
}

.bandeau_ENT_Menu li ul {
  padding:2px;
  background-color: #fff;
  border: 1px solid #999999;
}
.bandeau_ENT_Menu li ul li:first-child { 
  border-top: none !important; 
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a {
 color:#213885 !important; 
 font-weight:normal; 
 font-size:13px !important;
 text-decoration:none !important;
 text-align:left;
 display:block;
 border: 0px solid #555 !important;
 text-shadow:none;
 padding: 6px;
}
#bandeau_ENT_Inner .bandeau_ENT_Menu li ul li a:hover {
 color:#000000 !important; 
}

.bandeau_ENT_Menu > li {
    display: block;
    position: relative;
}

#bandeau_ENT_Footer {
    clear: both;
    text-align: center;
    font-size: 11px;
    padding: 1em 0;
}
#bandeau_ENT_Footer a {
    margin: 0 1em;
}
#bandeau_ENT_Footer, #bandeau_ENT_Footer a {
    color: #999 !important;
}

.bandeau_ENT_Help a {
    position: relative;
    float: right;
    z-index: 100006;
    margin-right: 1em;
    margin-top: -4em;

    text-decoration: none;
    margin-left: 1.5em;
    padding-left: 18px;
    background: url(https://esup.univ-paris1.fr/media/skins/universality/uportal3/images/portlet_icons_flat.png) no-repeat scroll 0 -48px transparent;
}
.bandeau_ENT_Help a:hover {
    text-decoration: underline;
    background-image: url(https://esup.univ-paris1.fr/media/skins/universality/uportal3/images/portlet_icons_flat_hover.png);
}
.menuClosed .bandeau_ENT_Help {
    height: 2.3em;
    background-color: white;
}
.menuClosed .bandeau_ENT_Help a {
    margin-top: 10px;
}

.bandeau_ENT_Titlebar {
    color: #263F82;
}
.bandeau_ENT_Titlebar {
    background: white;
    padding: 13px 0 18px 13px;
    font-size: 200%;
}
.menuClosed .bandeau_ENT_Titlebar {
    font-size: 16px;
}
@media screen and (min-width: 450px) {
  .menuClosed .bandeau_ENT_Menu_ {
   display: none;
  }
}
@media screen and (max-width: 450px) {
  #portalPageBarAccountInner {
      left: 0;
    right: 0;
  }

  #portalPageBarSearch input.text {
     width: 4em;
  }

  .bandeau_ENT_portalLogo {
      text-align: left !important;
  }

}

@media print {
  #bandeau_ENT_Inner { display: none; }
}


@media screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (min-resolution: 192dpi),
       screen and (max-height: 700px) {

    .bandeau_ENT_portalLogo {
	height: 40px !important;
    }

    .menuClosed .bandeau_ENT_portalLogo { 
	height: 30px !important;
    }

    #bandeau_ENT_portalPageBarToggleMenu {
	height: 44px !important;
    }

    #bandeau_ENT_portalPageBarToggleMenu > span {
	height: 20px;
    }
    
    .bandeau_ENT_portalLogo a {
	width: 74px;
	height: 28px;
    }

}

@media screen and (max-height: 700px) and (-webkit-max-device-pixel-ratio: 1.99),
       screen and (max-height: 700px) and (max-resolution: 191dpi) {
    .bandeau_ENT_portalLogo a {
	display: none;
    }
}
