<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app metadata-complete="true">
	<!-- disable "servlet api 3.0 classpath scanning" otherwise dead slow startup -->
	<!-- metadata-complete="true" above is also needed -->
	<!-- http://jira.codehaus.org/browse/JETTY-1503 -->
	<absolute-ordering />
    
    <display-name>uPortal</display-name>

    <context-param>
        <!-- the default log4j.properties does not make use of the webapp root feature -->
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
    </context-param>

    <filter>
	<filter-name>CAS Single Sign Out Filter</filter-name>
	<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CAS Validate Filter Simple</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
          <param-name>casServerUrlPrefix</param-name>
            <param-value>https://cas-test.univ-paris1.fr/cas</param-value>
			<!--<param-value>http://cas-test.univ-paris1.fr/cas</param-value>-->
        </init-param>
        <init-param>
          <param-name>serverName</param-name>
          <param-value>ent-test.univ-paris1.fr</param-value>
        </init-param>
        <init-param>
          <param-name>redirectAfterValidation</param-name>
          <param-value>false</param-value>
        </init-param>	
    </filter>
	
    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validate Filter Simple</filter-name>
        <url-pattern>/js</url-pattern>
    </filter-mapping>

	<servlet>
	  <servlet-name>ProlongationENT</servlet-name> 
	  <servlet-class>org.esupportail.portal.services.prolongationENT.Main</servlet-class>
	</servlet>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/js</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/detectReload</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/redirect</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/purgeCache</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/logout</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ProlongationENT</servlet-name> 
	    <url-pattern>/canImpersonate</url-pattern> 
	</servlet-mapping>

</web-app>
